.idea/
/logs/nginx/access.log
/logs/nginx/error.log
/mysql/*
!/mysql/.gitkeep

/app/site1/static/upload/*
!/app/site1/static/upload/.gitkeep

/app/site1/application/logs/*
!/app/site1/application/logs/index.html
/app/site1/application/session/*
!app/site1/application/session/.gitkeep